
\.vs/

nexrad-radar-data-reader/bin/

nexrad-radar-data-reader/obj/

nexrad-radar-data-reader/KAKQ20110504_000344_V03

nexrad-radar-data-reader/KAMA20180405_003014_V06

nexrad-radar-data-reader/KBGM20160702_002946_V06

packages/

nexrad\.level2\.reader/Properties/

nexrad\.level2\.reader/bin/

nexrad\.level2\.reader/obj/

nexrad\.models/bin/

nexrad\.models/obj/

nexrad\.utilities/bin/

nexrad\.utilities/obj/
