name: NEXRAD Reader - LIVE Environment
on:
  push:
    branches:
      [ "master", "196-NETUpgrade" ]
jobs:
  build:
    runs-on: windows-2019
    steps:
    - name: Step 1 - Checkout repository
      uses: actions/checkout@v2

    - name: Step 2 - Install Chocolatey
      run: |
        Set-ExecutionPolicy Bypass -Scope Process -Force
        [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
        iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

    - name: Step 3 - Install .NET Framework 4.8.1 Developer Pack
      run: |
        Invoke-WebRequest -Uri "https://go.microsoft.com/fwlink/?linkid=2203306" -OutFile "$env:TEMP\\ndp481-devpack-enu.exe"
        Start-Process -FilePath "$env:TEMP\\ndp481-devpack-enu.exe" -ArgumentList "/q" -Wait

    - name: Step 4 - Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Step 5 - Setup NuGet
      uses: NuGet/setup-nuget@v1

    - name: Step 6 - Navigate to Workspace
      run: cd nexrad.api

    - name: Step 7 - Create Build Directory
      run: mkdir _build

    - name: Step 8 - Restore Packages
      run: nuget restore nexrad-radar-data-reader.sln

    - name: Step 9 - Build Solution
      run: |
        msbuild.exe nexrad-radar-data-reader.sln /nologo /nr:false /p:DeployOnBuild=true /p:DeployDefaultTarget=WebPublish /p:WebPublishMethod=FileSystem /p:DeleteExistingFiles=True /p:platform="Any CPU" /p:configuration="Release" /p:PublishUrl="../_build"
    - name: Step 10 - FTP Deploy Files to Server
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: ${{secrets.SERVER_IP}}
        username: ${{secrets.FTP_USERNAME}}
        password: ${{secrets.FTP_PASSWORD}}
        local-dir: ${{secrets.LOCAL_DIR}}
        server-dir: ${{secrets.SERVER_DIR}}